<div class="black-nav">
</div>  
<nav class="ui fixed inverted menu app-shell-menu">
  <a class="item" href="/">
    <img src="../../../assets/icons/Icon-144.png" alt="Logo"/>
  </a>

  <a class="header item" href="/claims">
    Credit Cards
  </a>
  <a class="header item" href="/claims">
    Benefits
  </a>
  <a class="header item" href="/claims">
    Pay
  </a>
  <a class="header item" href="/claims">
    Offer
  </a>
  <a class="header item" href="/claims">
    Rewards
  </a>
  <a class="header apply" href="/claims">
    <a class="apply-btn">Apply</a>
  </a>
</nav>
<div class="blue-nav">
</div>  
